@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: black;
}
header{
    background: url("https://texturelabs.org/wp-content/uploads/Texturelabs_Wood_189S.jpg");
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    border-bottom: #000000 3px solid;
    font-family: "Rye", serif;

}
header img{
    height: 125px;
    margin-left: 20px;
    box-shadow: black 5px 5px 15px;
    border-radius: 3rem;

}

header nav{
    padding: 0 20px 0 0;
    justify-self: right;
    background: url("texturehog.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-right: 20px;
    box-shadow: black 5px 5px 15px;
}
header nav a{
    text-decoration: none;
    color: #B88F5E;
    font-family: "Rye", serif;
    font-size: 40px;
    margin-left: 20px;
    outline: black solid 0px;
    border-radius: 2rem;
}
header nav a:hover{
    color: rgb(132, 132, 132);
    transition: 0.2s;
    
}
main {
    display: flex;
    flex-direction: row;
    flex-grow:5;
    padding-top: 150px;
    height: calc(100dvh - 150px);        
    height: calc(100dvh - 150px);       
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
}


main section {
    min-width: 100vw;
    height: 100%;
    scroll-snap-align: start;
    padding: 40px 10vw;              
    box-sizing: border-box;
    background: url("texturehog.png");
    background-size: cover;
    white-space: normal;              
    display: flex;
    flex-direction: column;
    justify-content: center;         
    gap: 1rem;
    font-size: 1.1rem;                
}
main section a{
    font-family: "Rye", serif;
    color: #f9a3a3;
    text-decoration: none;
}

main img {
    max-height: 60vh;               
    width: auto;
    margin: auto;
    display: block;
    border-radius: 2rem;
    box-shadow: black 5px 5px 15px;
}
main h1 {
    font-family: "Rye", serif;
    font-size: 3rem;
    color: #B88F5E;
}
main h2 {
    font-family: "Rye", serif;
    font-size: 2rem;
    color: #B88F5E;
}
main p, main li {
    font-family: "Rye", serif;
    color: #ffffff;
    line-height: 1.5;
}
::-webkit-scrollbar {
    height: 12px;
    background: #222222;
}
::-webkit-scrollbar-thumb {
    background: #B88F5E;
    border-radius: 6px;
}


footer{
    background: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Rye", serif;
}
@media (max-width: 768px) {
    header {
        height: 120px;
    }

    header img {
        height: 90px;
    }

    header nav a {
        font-size: 28px;
        margin-left: 10px;
    }

    main {
        padding-top: 120px;
        height: calc(100dvh - 120px);
    }

    main section {
        padding: 30px;
        font-size: 1rem;
        overflow-y: scroll ;
        padding-top: 120px;
    }

    main img {
        max-height: 50vh;
    }
}
